<h1>{{name}}</h1>
<div>
  <div>
    <ul>
      <li>Capital: {{capital}}</li>
      <li>Population: {{population}}</li>
      <li>Languages:
        <ul>
          {{#each languages}}
          <li>
            {{name}}
          </li>
          {{/each}}
        </ul>

      </li>
    </ul>
  </div>
  <img src='{{flag}}' alt='Flag of {{name}}' width='500px'>
</div>